<div fxLayout="column" fxLayoutGap="20px">
    
    <div  fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around stretch" >
        <app-dashcard fxFlex="24" fxFlex.sm="47" fxFlex.xs="90" [color]="'#E91E63'"></app-dashcard>
        <app-dashcard fxFlex="24" fxFlex.sm="47" fxFlex.xs="90" [color]="'#E91E63'"></app-dashcard>
        <app-dashcard fxFlex="24" fxFlex.sm="47" fxFlex.xs="90" [color]="'#E91E63'"></app-dashcard>
        <app-dashcard fxFlex="24" fxFlex.sm="47" fxFlex.xs="90" [color]="'#E91E63'"></app-dashcard>
    </div>

    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around stretch" >
        <app-feeds fxFlex="49" fxFlex.sm="47" fxFlex.xs="90" ></app-feeds>
        <app-feeds fxFlex="49" fxFlex.sm="47" fxFlex.xs="90" ></app-feeds>
    </div>

</div>
